<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCHOOL48/Speciality Form</title>
    <link rel="stylesheet" href="../css/log.css">
</head>
<body>
    <aside>
    <a href="index.html" class="logo">
        <figure><img src="../images/logoBig.png" alt="School 48 logo"></figure>
        <figcaption>SCHOOL</figcaption>
    </a>
    <div class="opt"><p>Menu</p></div>
    <ul>
        <li>
            <a href="index.html">
                <figure><img src="../images/home.png" alt="home"></figure>
                <figcaption>Acceuil</figcaption>
            </a>
        </li>
        <li>
            <a href="login.html">
                <figure><img src="../images/user.png" alt="profil"></figure>
                <figcaption>Profile</figcaption>
            </a>
        </li>
        <li>
            <a href="#">
                <figure><img src="../images/sms.png" alt="Messages"></figure>
                <figcaption>Messages</figcaption>
            </a>
        </li>
        <li>
            <a href="#">
                <figure><img src="../images/course.png" alt="Cours"></figure>
                <figcaption>Cours</figcaption>
            </a>
        </li>
        <li>
            <a href="#">
                <figure><img src="../images/result.png" alt="Resultats"></figure>
                <figcaption>Resultats</figcaption>
            </a>
        </li>
        <li>
            <a href="#">
                <figure><img src="../images/event.png" alt="Evenements"></figure>
                <figcaption>Evenements</figcaption>
            </a>
        </li>
        <li>
            <a href="#">
                <figure><img src="../images/settings.png" alt="Parametres"></figure>
                <figcaption>Parametres</figcaption>
            </a>
        </li>
    </ul>
    <footer>
        <a href="index.html" class="logo2">
            <figure><img src="../images/logoBig.png" alt="School 48 logo"></figure>
            <figcaption>SCHOOL</figcaption>
        </a>
        <ul>
            <li><a href="#"><img src="../images/facebook.png" alt=""></a></li>
            <li><a href="#"><img src="../images/x.png" alt=""></a></li>
            <li><a href="#"><img src="../images/gmail.png" alt=""></a></li>
        </ul>
        <span class="copy">
                        &copy;Copyright 2025, Takus SCHOOL 48. All right reserved
                    </span>
    </footer>
</aside>
    <main>
        <header>
            <button class="menu">
                <hr>
            </button>
            <div class="search">
                <input type="search" placeholder="Rechercher...">
                <button type="submit">
                    <img src="../images/loope.png" alt="">
                </button>
            </div>
            <a href="#" class="notif"><img src="../images/bell.png" alt="bell"></a>
        </header>
        <section>
            <div class="notice">
                <img src="../images/Formulaire.png" alt="">
                <p>
                    Add your <b>Teacher</b>'s information for a best experience here
                </p>
            </div>
            <div class="zone">
                <div class="picture">
                    <figure><img src="../images/user.png" alt=""></figure>
                    <figcaption>Username</figcaption>
                    <p>*(Click here to add your profile picture)</p>
                </div>
                <form action="">
                    <div class="birth">
                        <label for="dob">Mention your birthay here</label>
                        <input type="date" id="dob">
                    </div>
                    <select name="diploma" id="diploma">
                        <option value="default" selected>Select your diploma here</option>
                        <option value="1">Baccalaureat</option>
                        <option value="2">Lycense</option>
                        <option value="3">Master</option>
                        <option value="4">Doctorat</option>
                    </select>
                    <select name="special" id="special">
                        <option value="default" selected>Select your specialization here</option>
                        <option value="1">Maths</option>
                        <option value="2">Arts</option>
                        <option value="3">Sciences</option>
                        <option value="4">Literature</option>
                        <option value="5">Philosophy</option>
                    </select>
                    <div class="hire">
                        <label for="hiring">Mention your hiring date here</label>
                        <input type="date" id="hiring">
                    </div>
                    <input type="submit" value="Submit">
                    <a href="dashboardTeacher.html" class="submit">Submit</a>
                </form>
            </div>
        </section>
    </main>
</body>
</html>